
/*
-------------------
        body
-------------------
*/
body{
    background-image : url("./background.jpg");
    min-width:400px;
    font-family: IRANSans;
    resize: none;
    background-position: center;
    background-attachment: fixed;


}
textarea {
 resize: none;
}

ul {
list-style-type: none;
}

a{
text-decoration:none;
}
/*
-------------------
        jumbotron
-------------------
*/
.jumbotron{
	margin:20px;
	margin-top:50px;
	background-color: white;


}

.container .jumbotron {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius:0px;
    padding-bottom:0px;
}
.navbar{

margin-bottom:5px;
margin-right:1px;
margin-left:1px;
border-radius:0px;

}
.nav-prof-img
{
width:30px;
height:30px;
}


.dropdown-menu {


text-align:right;

}
#left-side .dropdown-menu {
text-align:left;
}

.search-panel{

}

.search-panel .panel{


background: url("./banner.jpg");
border-radius:0px;

}

.search-panel table{
    margin:10px auto;
}

.search-panel input{

    width:220px;
    text-align:right;
    height:40px;
    border: 2px solid #222222 ;
    position:relative;left:15px;
}
.search-panel button{
    border: 2px solid #222222;
    height:40px;
    width:44px;
    color:white;
    background-color:#222222;
    position:relative;
    left:20px;
}
.search-panel .btn span{

color:white;
}

.footer a{

color:black;
}
.panel-footer{
background-color:#222222;
color:white;
height:auto;
min-width:405px;
border-top:2px solid white;
border-radius:0px;
position:relative;
top:200px;

}
.panel-footer .row{

}
#footer-right-side{
float:right;

}

#footer-right-side a{
color:white;
text-decoration:none;
position:relative;
right:5px;
padding-top:8px;

}

#footer-right-side hr{
color:white;
margin:5px;
}

#footer-media{
text-align:right;
color:white;
float:left;

}
#footer-media img{
height:35px;
width:35px;
float:left;
}
#footer-copy-right{
float:right;

color:white;

}
.panel-footer .row{
padding-left:40px;
padding-right:40px;
}
#footer-right-side ul{
padding-right:15px;
}


@media only screen and (max-width:516px){

.search-panel form{
margin-right:20px;
margin-left:20px;
}
}

@media only screen and (max-width:980px){
#footer-right-side{
float:none;


}

.gr_ver_2{
position:relative;
}



#footer-right-side ul{
padding-right:0px;
}


#footer-media{
text-align:right;
color:white;
float:none;
}
#footer-copy-right{
border-bottom:1px solid white;

color:white;
float:none;
}

#footer-right-side {

border-bottom:1px solid white;

}




}



