#add-basket-button{
position:relative;
right:70px;
}

#add-basket-button button{

position : relative;
left: 70px;

}
.comment-body{
min-height:100px;
border:1px solid #e5e5e5;
}

.form-control{
max-width:700px;
}
#comments img{
width:60px;
height:60px;
float:right;
}
#comments h4 {
position:relative;
top:20px;
right:10px;
}
.reply-to-comments form{
display:none;
}
#see-replies{
display:none;
}

.btn-default{
margin-top:10px;
background-color:#F5F5F5;
}
#information img{

height:200px;
width:200px;

}
