#button{
position:relative;
right:70px;
}

#button button{

position : relative;
left: 70px;

}
.comment-body{
min-height:100px;
border:1px solid #e5e5e5;
}
textarea {
   resize: none;
}
.form-group{
width:auto;
height:auto;
}