.change-password ul{
position:relative;
left:40px;
text-align:right;
}
@media only screen and (max-width:577px){
.change-password input{

width:100px;
}
.change-password ul{
position:relative;
left:40px;
text-align:right;
}
}

}

