{% extends 'product/base.html' %}
{% load staticfiles %}
<!-- The block below overwrites block in base -->
{% block head %}
    <title>تغییر رمزعبور</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'User/change-password.css' %}"/>
{% endblock %}
{% block body %}
<div class="change-password">
    <div class="container">
        <form method="post">
            <p>
                <label for="id_old_password">پسورد قبلی:</label>
                <input id="id_old_password" name="old_password" autofocus="" required="" type="password">
            </p>

             <p>
                <label for="id_new_password1">پسورد جدید:</label>
                <input id="id_new_password1" name="new_password1" autofocus="" required="" type="password">
            </p>
            <p>
                <label for="id_new_password2">تکرار پسورد جدید:</label>
                <input id="id_new_password2" name="new_password2" autofocus="" required="" type="password">
            </p>

<ul>

    <li><p>پسورد شما نباید شبیه هیچکدام از اطلاعات شخصی شما باشد.</p></li>
    <li> <p>پسورد شما نمیتواند پسوردی باشد که قبلا استفاده شده.</p></li>
    <li><p>پسورد شما باید حداقل 8 حرفی باشد. </p></li>
    <li><p>پسورد شما نباید کاملا عددی باشد.</p> </li>
</ul>
            <button type="submit">تایید</button>
        </form>
        <br>
    </div>
</div>

{% endblock %}