{% extends 'product/base.html' %}
{% load staticfiles %}
{% load tz %}
<!-- The block below overwrites block in base -->
{% block head %}
<title>Profile</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'User/edit-profile.css' %}"/>
{% endblock %}
{% block body %}

<div class="container">

{% if error %}
<div class="alert alert-danger">
    <p><strong>خطا:</strong>{{ error }}</p>
</div>
{% endif %}

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="edit-text-block">
        <table >

            <tr>
                <td style="">
                     <label for="city_id">شهر :</label>
                    <input id="city_id" name="city" type="text">

                </td>


            </tr>
            <tr>
                <td style="">
                    <label for="website_id">وبسایت :</label>
                    <input id="website_id" name="website" type="text">


                </td>

            </tr>
             <tr>
                <td style="">
                     <label for="phone_number_id">شماره تلفن :</label>
                    <input id="phone_number_id" name="phone_number" type="text" value="{{user.userprofile.phone_number}}">


                </td>
            </tr>
        </table>
        </div>
              <div class="edit-images-block">
        <table >
            <tr>
                <td>
                    <p>تصویر حساب:</p>

                    {% if user.userprofile.pro_img %}
<img style="height:200px;width:200px;" src="{{ user.userprofile.pro_img.url }}">

{% else  %}
<img style="height:200px;width:200px;" src="http://arminyahya.pythonanywhere.com/media/uploaded/default_img_prof.jpg">
{% endif %}
<br>
                    <label for="pro_img-clear_id">حذف عکس</label>
                    <input id="pro_img-clear_id" name="pro_img-clear" type="checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    انتخاب عکس:
                    <input id="id_pro_img" name="pro_img" type="file">


                </td>

            </tr>
            <tr>
                {% get_current_timezone as TIME_ZONE %}
                <td><label for="timezone">منطقه زمانی:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}" {% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
                </td>
            </tr>
            <tr><td>
                <input type="submit" value="تایید">
            </td></tr>
        </table>
              </div>
    </form>
    <br>
</div>

{% endblock %}