{% extends 'product/base.html' %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'User/login.css' %}"/>
{% endblock %}
{% block title %}
<title>ورود</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>خوش آمدید</h2>

    <h3>ورود:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <p>
                <label for="id_username">نام کاربری</label>
                <input class="form-control" id="id_username" name="username" autofocus="" required="" type="text">
            </p>
        <p>
                <label for="id_password">رمز عبور</label>
                <input class="form-control" id="id_password" name="password" autofocus="" required="" type="password">
            </p>
        <button type="submit">ورود</button>
        </div>
    </form>
&nbsp;
<div id="reg-paragraph">
    <p> اگر تا الان ثبت نام نکرده اید بر روی  <a href="/user/register">ثبت نام &nbsp;</a>کلیک کنید</p>
</div>
</div>
{% endblock %}