{% extends 'product/base.html' %}

{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'User/registration.css' %}"/>
{% endblock %}
{% block title %}
<title>فرم ثبت نام</title>
{% endblock %}

{% block body %}
<div class="container">

    {% if not user.is_authenticate %}

    <h2>ثبت نام</h2>
    {% if form1.errors or form2.errors %}
    <div class="alert alert-danger">
        {% if form1.username.errors %}
        <p>{{ form1.username.errors }} </p>
        {% endif %}
        {% if form1.email.errors %}
        <p>{{ form1.email.errors }} </p>
        {% endif %}
        {% if form1.password1.errors %}
        <p>{{ form1.password1.errors }} </p>
        {% endif %}

        {% if form2.phone_number.errors %}
        <p>{{ form2.phone_number.errors }} </p>
        {% endif %}
        {% endif %}


    </div>
<div class="registration">
    <form method="post" novalidate>
        {% csrf_token %}
<div class="form-group">
       <p>
                <label for="id_username">نام کاربری</label>
                <input class="form-control" id="id_username" name="username" autofocus="" required="" type="text">
            </p>
   <p>
                <label for="first_name">نام </label>
                <input class="form-control" id="first_name" name="first_name" autofocus="" required="" type="text">
            </p>
    <p>
                <label for="last_name">نام خانوادگی</label>
                <input class="form-control" id="last_name" name="last_name" autofocus="" required="" type="text">
            </p>
    <p>
        <p>
                <label for="email">رمز عبور</label>
                <input class="form-control" id="email" name="email" autofocus="" required="" type="email">
            </p>
     <p>
                <label for="phone_number">شماره تلفن همراه</label>
                <input class="form-control" id="phone_number" name="phone_number" autofocus="" required="" type="text">
            </p>
    <p>
                <label for="password1">رمز عبور</label>
                <input class="form-control" id="password1" name="password1" autofocus="" required="" type="password">
            </p>

    <p>
                <label for="password2">تکرار رمز</label>
                <input class="form-control" id="password2" name="password2" autofocus="" required="" type="password">
            </p>



</div>
         <button type="submit">تایید</button>
    </form>


{% else %}
    <p>  شما قبلا ثبت نام شده اید .برای مشاهده حساب کاربری خود  بر روی لینک زیر کلیک کنید</p>
    <a href="{% url 'user:view_profile' %}">حساب کاربری</a>
{% endif %}

</div>
</div>
 {% endblock %}