{% extends 'product/base.html' %}

{% block body %}
<div class="container">

    <div class="alert alert-info">
    <p><strong>توجه!!</strong>این قسمت فقط برای تست developer قرار داده شده است .</p>
</div>
    <h2>تغییر پسورد</h2>
    <p>
        اگر پسورد خود را فراموش کرده اید ایمیل خورد را در قسمت زیر وارد کنید.
    </p>

    <form method="post">
        {% csrf_token %}
       <p>
                <label for="id_email">ایمیل</label>
                <input id="id_email" name="email" autofocus="" required="" type="email">
            </p>
        <button type="submit">تایید</button>
    </form>
</div>
{% endblock %}