{% extends 'product/base.html' %}


{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'product/about-us.css' %}"/>
{% endblock %}
{% block title %}
<title>درباره ما </title>
{% endblock %}

{% block body %}
<p style="color:black;">این فروشگاه  با هدف ارائه محصولات دیجیتال اورجینال و
    اصلی و ترویج فرهنگ احترام به قانون کپی رایت شروع به کار کرده است.
    این فروشگاه لایسنس ( CDKEY ) بازی های ویدئویی تحت DRM های
    مختلف را به خریداران محترم به وسیله ی ایمیل ارسال مینماید
و هیچکدام از محصولات فروشگاه به صورت فیزیکی نمیباشد. </p>
{% endblock %}

